:root{
    --green: #5f9341;
    --white: white;
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;    
}
body{
    padding: 10px;
    font-family: Arial, Helvetica, sans-serif;
}

button{
    background-color: var(--green);
    color: var(--white);
    font-weight: bold;
    border: none;
    padding: 0.5rem 1rem;
    cursor: pointer;
    font-size: 0.7em;
    border-radius: 3px;
}

input{
    width: 100%;
    border: var(--green) 1px solid;
    padding: 5px 10px;
    margin-bottom: 10px;
    border-radius: 3px;
}
ul{
    padding: 0;
    margin: 20px 0;
    font-size: 0.8em;
}
ul li{
    list-style: none;
    margin-bottom: 5px;
}

ul li a{
    color: var(--green);
}